.card {
  width: 300px;
  background-color: #fff;

  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: none;
  border: 1px solid lightgray;

  &:hover {
    box-shadow: 4px 4px 8px -1px rgba(78, 161, 89, 0.71);
    -webkit-box-shadow: 4px 4px 8px -1px rgba(78, 161, 89, 0.71);
    -moz-box-shadow: 4px 4px 8px -1px rgba(78, 161, 89, 0.71);
    transition: box-shadow 0.2s;
  }
  .card-heading {
    font-size: 20px;
    font-weight: bolder;
  }

  .card-badge {
    svg {
      font-size: 100px;
      color: #208b3a;
    }
  }

  .card-summary {
    .card-lines {
      margin-bottom: 15px;
      display: flex;
      gap: 15px;
      div {
        height: 4px;
        width: 25px;
        background-color: #208b3a;
      }
    }
    .content {
      line-height: 1.7;
    }
  }

  .card-button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    background-color: #208b3a;
    color: white;
    width: fit-content;
    border-radius: 5px;
    box-shadow: 4px 4px 8px -1px rgba(78, 161, 89, 0.71);
    -webkit-box-shadow: 4px 4px 8px -1px rgba(78, 161, 89, 0.71);
    -moz-box-shadow: 4px 4px 8px -1px rgba(78, 161, 89, 0.71);
  }

  .card-badge {
    img {
      width: 100%;
    }
  }
}
