.home {
  display: flex;
  align-items: center;
  padding: 15px 0;
  justify-content: space-evenly;
  gap: 20px;
  padding: 150px 0;

  .socailIcons {
    // flex: 2;
  }

  .home-containt {
    display: flex;
    flex-direction: column;
    gap: 60px;
    max-width: 400px;

    .home-containt-header {
      display: flex;
      flex-direction: column;
      gap: 3px;
      .greet {
        background-color: rgba(78, 161, 89, 0.178);
        width: fit-content;
        padding: 5px 10px;
        border-radius: 5px;
        color: #208b3a;
        margin-bottom: 10px;
        box-shadow: 4px 4px 8px -1px rgba(78, 161, 89, 0.71);
        -webkit-box-shadow: 4px 4px 8px -1px rgba(78, 161, 89, 0.71);
        -moz-box-shadow: 4px 4px 8px -1px rgba(78, 161, 89, 0.71);
      }

      .name {
        font-size: 55px;
        font-weight: bold;
      }

      .designation {
        font-weight: bold;
      }
    }

    .buttons {
      display: flex;
      gap: 20px;

      a {
        text-decoration: none;
      }

      .hireBtn,
      .exploreBtn {
        padding: 25px 45px;
        font-size: 22px;
        border-radius: 5px;
        box-shadow: 4px 4px 8px -1px rgba(78, 161, 89, 0.71);
        -webkit-box-shadow: 4px 4px 8px -1px rgba(78, 161, 89, 0.71);
        -moz-box-shadow: 4px 4px 8px -1px rgba(78, 161, 89, 0.71);
      }

      .hireBtn {
        background-color: #208b3a;
        color: white;
      }

      .exploreBtn {
        color: rgb(32, 32, 32);
        background-color: white;
      }
    }
  }

  .avatarContainer {
    width: fit-content;
    border-radius: 50%;
    // flex: 2;
    // border: 1px solid;
    .avatarImage {
      border-radius: 50%;
      width: 400px;
      box-shadow: 4px 4px 8px -1px rgba(78, 161, 89, 0.71);
      -webkit-box-shadow: 4px 4px 8px -1px rgba(78, 161, 89, 0.71);
      -moz-box-shadow: 4px 4px 8px -1px rgba(78, 161, 89, 0.71);
    }
  }

  .socailIcons {
    list-style: none;
    position: absolute;
    top: 35%;
    left: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    svg {
      font-size: 48px;
      border-radius: 50%;
      box-shadow: 4px 4px 8px -1px rgba(78, 161, 89, 0.71);
      -webkit-box-shadow: 4px 4px 8px -1px rgba(78, 161, 89, 0.71);
      -moz-box-shadow: 4px 4px 8px -1px rgba(78, 161, 89, 0.71);
    }

    a {
      text-decoration: none;
      color: rgb(32, 32, 32);
      &:hover {
        color: white;
      }
    }

    .socailIcons-item {
      padding: 10px 20px;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
      &:hover {
        background-color: #208b3a;
        box-shadow: 4px 4px 8px -1px rgba(78, 161, 89, 0.71);
      -webkit-box-shadow: 4px 4px 8px -1px rgba(78, 161, 89, 0.71);
      -moz-box-shadow: 4px 4px 8px -1px rgba(78, 161, 89, 0.71);
      }
    }
  }
}
