.testimonials {
  width: 60%;
  margin: auto;

  .CarouselItem {
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 15px;
    box-shadow: 4px 4px 8px -1px rgba(78, 161, 89, 0.71);
    -webkit-box-shadow: 4px 4px 8px -1px rgba(78, 161, 89, 0.71);
    -moz-box-shadow: 4px 4px 8px -1px rgba(78, 161, 89, 0.71);
  }

  .myServices-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .label {
      background-color: rgba(78, 161, 89, 0.178);
      width: fit-content;
      padding: 5px 10px;
      border-radius: 5px;
      color: #208b3a;
      margin-bottom: 10px;
      box-shadow: 4px 4px 8px -1px rgba(78, 161, 89, 0.71);
      -webkit-box-shadow: 4px 4px 8px -1px rgba(78, 161, 89, 0.71);
      -moz-box-shadow: 4px 4px 8px -1px rgba(78, 161, 89, 0.71);
    }

    .heading {
      font-size: 25px;
      font-weight: bolder;
      margin-bottom: 20px;
    }
  }
}

.tesimonial-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;

  svg {
    color: green;
    font-size: 100px;
  }

  .testimonial-text {
    line-height: 1.5;
  }

  .name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 6px;
  }
  .designation {
    color: gray;
  }
}
